---
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

	<!-- css files -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->

	<!-- google fonts -->
	<link href="http://fonts.googleapis.com/css?family=Rosario:400,400i,700,700i" rel="stylesheet">
	<!-- //google fonts -->

</head>
<body>

<!-- //header -->
<header>
	<div class="container">
		<!-- nav -->
		<nav class="py-4 d-lg-flex">
			<div id="logo">
				<h1> <a href="index.html"><span class="fa fa-clone"></span> 苏源剑</a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-md-2 ml-auto">
				<li class="mr-lg-4 mr-2 active"><a href="index.html">首页</a></li>
				<li class="mr-lg-4 mr-2"><a href="#about">关于</a></li>

				<li class="mr-lg-4 mr-2"><a href="#how">介绍</a></li>
				<li class="mr-lg-4 mr-2"><a href="renwu.html">人物</a></li>
				<li class="mr-lg-4 mr-2"><a href="#contact">Contact</a></li>
			</ul>

		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->

<!-- banner -->
<section class="banner w3pvt-banner" id="home">
	<div class="container">
		<div class="banner-text">
			<div class="slider-info">
				<div class="w3pvt-logo mt-lg-5">
					<h2><a href="renwu.html">欢迎来到卡通世界</a></h2>
					<p class="mt-3"> </p>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- //banner -->

<!-- about -->
{{content}}
<!-- //about -->



<!-- jieshao -->
<section class="how py-5 w3layouts-sec" id="how">
	<div class="container py-md-5">
		<div class="row">
			<div class="col-lg-3 about-left">
				<span class="pl-0">introduce</span>
				<h3 class="heading mb-lg-5 mb-4">介绍</h3>
			</div>
			<div class="col-lg-8 about-text">
				<p class="mt-lg-2">卡通一词开始指代的是那些幽默讽刺的绘画形式。在西方，卡通可以指壁画、油画、地毯等的草图、底图，也可以指漫画、讽刺画、幽默画。在中国，卡通、卡通电影与动画片的含义是一致的，我们常说的卡通其实就是卡通电影的简称，指的是借用风格简练、充满幽默讽刺的绘画语言来讲述故事的非真人电影。
			</div>
			<div class="col-lg-3 col-md-6 how-icon mt-4 w3layout-grid">

				<div class=" how-grid">
				<img src="images/team10.jpg" class="team_member" alt="Team Member">
					<h3 class="mt-2">超人</h3>
					<p class="mt-2">《超人》的主角是一个来自氪星球、具有超能力的外星人克拉克。</p>
				</div>
			</div>


			<div class="col-lg-3 col-md-6 how-icon1 mt-4 w3layout-grid">
				<img src="images/team12.jpg" class="team_member" alt="Team Member">
				<div class="how-grid">
					<h3 class="mt-2">蝙蝠侠</h3>
					<p class="mt-2">出身于一个显赫的富豪家庭。在他很小的时候，父母被歹徒所杀，因而变成孤儿，由管家抚养长大。</p>
				</div>
			</div>



			<div class="col-lg-3 col-md-6 how-icon2 mt-4 w3layout-grid">
				<img src="images/team11.jpg" class="team_member" alt="Team Member">
				<div class="how-grid">
					<h3 class="mt-2">蜘蛛侠</h3>
					<p class="mt-2">在英雄内战机场大战落幕后，彼得·帕克在恩师托尼·斯塔克的协助下，试图在一名普通高中生和打击犯罪的超级英雄蜘蛛侠间保持平衡</p>
				</div>
			</div>



			<div class="col-lg-3 col-md-6 how-icon3 mt-4 w3layout-grid">
				<img src="images/team9.jpg" class="team_member" alt="Team Member">
				<div class="how-grid">
					<h3 class="mt-2">绯红女巫</h3>
					<p class="mt-2">小时候和双胞胎弟弟快银一起被高进化者绑架当做实验对象，从而获得了混沌魔法和修改概率的能力，</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //how we work -->



<!-- section -->
<section class="section" id="section">
	<div class="layer py-5">
		<div class="container py-md-9 px-sm-5">
			<div class="row section-grids">
				<div class="col-lg-10 col-md-1 about-icon">
					<div class="row">
						<div class="col-sm-9 col-9">

						</div>
						<div class="col-sm-20 col-20">
							<h3 class="mt-12">在二十世纪上半叶，美国卡通艺术的发展水平居于世界的领先地位。而毋庸置疑的是，这种领先是全方位的。
早在1840年，波士顿的DC约翰斯顿公司就发行了名为《克赖斯帕》的单页画报，这可能是最早出现在美国的卡通作品了。</h3><h3 class="mt-2">1880年，美国报业大亨普利策在他的《纽约世界》报上增设星期日特刊，并在其中增加了卡通专栏。此后不久，另一位报业巨头赫斯特也开始在自己旗下的《纽约杂志》和《美国幽默大师》等刊物上定期发表卡通作品。</h3><h3 class="mt-2">这意味着卡通作品在增加报刊发行量上的作用，已经得到了广泛的认可。而上述两大报系的强力介入，无疑是给还处在幼年期的美国卡通注射了一针助长剂，自此美国卡通的发展驶进了快车道。</h3>
						</div>
					</div>
				</div>
				</div>
			<!-- //call -->
		</div>
    </div>
</section>
<!-- section -->
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
<!-- contact -->
<section class="contact py-5" id="contact">
	<div class="container py-md-5">
		<div class="row">
			<div class="col-lg-3 contact-left">
				<span>Dont Wait</span>
				<h3 class="heading mb-lg-5 mb-4">Contact</h3>
			</div>
			<div class="col-lg-9 about-text">
				<p class="mt-lg-2">在整个二十世纪初， 卡通漫画始终在寻找与美国文化的交汇点。在这个过程中，产生了许多优秀的作品和令人难忘的卡通形象。不过，直到三十年代初，美国卡通漫画的黄金时代才真的来临。</p>
				<div class="row mt-4">
					<div class="contact-info col-md-6 pr-md-5">
						<h4 class="mb-2"> 对于“黄金时代”，</h4>
						<div class="footer-style-w3ls">
							<p><strong>Location</strong> :有这样一个精辟的描述：美国漫画的黄金时代就是超级英雄在廉价画报上横行的时代。众所周知的，诸如超人（SUPER MAN）、蝙蝠侠（BATMAN）、闪电侠（FLASH）、潜水侠（AQUA MAN）等众多的超级英雄形象都产生在这个时期。这些超级英雄的共同特点就是拥有健美运动员般的身材，常人无法具备的超能力，不断打倒邪恶又强悍的敌人，拯救世界。而其中最具代表性和持续影响力的，恐怕就要算是超人和蝙蝠侠了。</p>
						</div>


					</div>
					<div class="contact-info col-md-6 pr-md-5 mt-md-0 mt-4">
						<h4 class="mb-2">蝙蝠侠原名叫做昆布西，出身于一个显赫的富豪家庭。</h4>
						<div class="footer-style-w3ls">
							<p><strong>Location</strong> : 黄金时代”的另一位超级英雄蝙蝠侠也走入了人们的视野当中</p>
						</div>
						<div class="footer-style-w3ls">
							<p><strong>Phone</strong> : 蝙蝠侠原名叫做昆布西，出身于一个显赫的富豪家庭。在他很小的时候，父母被歹徒所杀，因而变成孤儿，由管家抚养长大。长大后，他发誓为铲除罪恶而战。于是，他便成为了身着蝙蝠装的蒙面豪侠。除暴安良，制裁法律的漏网者成了他最重要的使命。</p>
						</div>

					</div>
				</div>
			</div>


		</div>
	</div>
</section>
<!-- //contact -->

<!-- footer -->
<footer class="footer navbar navbar-inverse">
    <p>©copyright 最终解释权归 <a href="">老子</a> 所有</p>
  </footer>

<!-- //footer -->







</body>
</html>